CloudDiagnosis/Service References/ClientCloudEyesSever/CloudEyes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="root">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rootResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Flash">
        <s:complexType />
      </s:element>
      <s:element name="FlashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FlashResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditUserID" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="report_Id" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sender_Id" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="receiver_Id" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPictureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendPictureResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="report_Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPictureResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="report_id" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataAnalys">
        <s:complexType />
      </s:element>
      <s:element name="DataAnalysResponse">
        <s:complexType />
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="rootSoapIn">
    <wsdl:part name="parameters" element="tns:root" />
  </wsdl:message>
  <wsdl:message name="rootSoapOut">
    <wsdl:part name="parameters" element="tns:rootResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="FlashSoapIn">
    <wsdl:part name="parameters" element="tns:Flash" />
  </wsdl:message>
  <wsdl:message name="FlashSoapOut">
    <wsdl:part name="parameters" element="tns:FlashResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportInfo" />
  </wsdl:message>
  <wsdl:message name="GetReportInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="GetMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendPictureSoapIn">
    <wsdl:part name="parameters" element="tns:SendPicture" />
  </wsdl:message>
  <wsdl:message name="SendPictureSoapOut">
    <wsdl:part name="parameters" element="tns:SendPictureResponse" />
  </wsdl:message>
  <wsdl:message name="GetPictureSoapIn">
    <wsdl:part name="parameters" element="tns:GetPicture" />
  </wsdl:message>
  <wsdl:message name="GetPictureSoapOut">
    <wsdl:part name="parameters" element="tns:GetPictureResponse" />
  </wsdl:message>
  <wsdl:message name="UploadInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadInfo" />
  </wsdl:message>
  <wsdl:message name="UploadInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DataAnalysSoapIn">
    <wsdl:part name="parameters" element="tns:DataAnalys" />
  </wsdl:message>
  <wsdl:message name="DataAnalysSoapOut">
    <wsdl:part name="parameters" element="tns:DataAnalysResponse" />
  </wsdl:message>
  <wsdl:message name="rootHttpGetIn">
    <wsdl:part name="jsonData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="rootHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FlashHttpGetIn" />
  <wsdl:message name="FlashHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoHttpGetIn">
    <wsdl:part name="AuditUserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInfoHttpGetIn">
    <wsdl:part name="report_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetIn">
    <wsdl:part name="jsonData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpGetIn">
    <wsdl:part name="sender_Id" type="s:string" />
    <wsdl:part name="receiver_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendPictureHttpGetIn">
    <wsdl:part name="fileBytes" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPictureHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetPictureHttpGetIn">
    <wsdl:part name="report_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPictureHttpGetOut" />
  <wsdl:message name="UploadInfoHttpGetIn">
    <wsdl:part name="report_id" type="s:string" />
    <wsdl:part name="jsonData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DataAnalysHttpGetIn" />
  <wsdl:message name="DataAnalysHttpGetOut" />
  <wsdl:message name="rootHttpPostIn">
    <wsdl:part name="jsonData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="rootHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="FlashHttpPostIn" />
  <wsdl:message name="FlashHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoHttpPostIn">
    <wsdl:part name="AuditUserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInfoHttpPostIn">
    <wsdl:part name="report_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostIn">
    <wsdl:part name="jsonData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpPostIn">
    <wsdl:part name="sender_Id" type="s:string" />
    <wsdl:part name="receiver_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendPictureHttpPostIn">
    <wsdl:part name="fileBytes" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPictureHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetPictureHttpPostIn">
    <wsdl:part name="report_Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPictureHttpPostOut" />
  <wsdl:message name="UploadInfoHttpPostIn">
    <wsdl:part name="report_id" type="s:string" />
    <wsdl:part name="jsonData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DataAnalysHttpPostIn" />
  <wsdl:message name="DataAnalysHttpPostOut" />
  <wsdl:portType name="CloudEyesSoap">
    <wsdl:operation name="root">
      <wsdl:input message="tns:rootSoapIn" />
      <wsdl:output message="tns:rootSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Flash">
      <wsdl:input message="tns:FlashSoapIn" />
      <wsdl:output message="tns:FlashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <wsdl:input message="tns:GetReportInfoSoapIn" />
      <wsdl:output message="tns:GetReportInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input message="tns:GetMessageSoapIn" />
      <wsdl:output message="tns:GetMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPicture">
      <wsdl:input message="tns:SendPictureSoapIn" />
      <wsdl:output message="tns:SendPictureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input message="tns:GetPictureSoapIn" />
      <wsdl:output message="tns:GetPictureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInfo">
      <wsdl:input message="tns:UploadInfoSoapIn" />
      <wsdl:output message="tns:UploadInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DataAnalys">
      <wsdl:input message="tns:DataAnalysSoapIn" />
      <wsdl:output message="tns:DataAnalysSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CloudEyesHttpGet">
    <wsdl:operation name="root">
      <wsdl:input message="tns:rootHttpGetIn" />
      <wsdl:output message="tns:rootHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Flash">
      <wsdl:input message="tns:FlashHttpGetIn" />
      <wsdl:output message="tns:FlashHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoHttpGetIn" />
      <wsdl:output message="tns:GetInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <wsdl:input message="tns:GetReportInfoHttpGetIn" />
      <wsdl:output message="tns:GetReportInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpGetIn" />
      <wsdl:output message="tns:SendMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input message="tns:GetMessageHttpGetIn" />
      <wsdl:output message="tns:GetMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPicture">
      <wsdl:input message="tns:SendPictureHttpGetIn" />
      <wsdl:output message="tns:SendPictureHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input message="tns:GetPictureHttpGetIn" />
      <wsdl:output message="tns:GetPictureHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInfo">
      <wsdl:input message="tns:UploadInfoHttpGetIn" />
      <wsdl:output message="tns:UploadInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DataAnalys">
      <wsdl:input message="tns:DataAnalysHttpGetIn" />
      <wsdl:output message="tns:DataAnalysHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CloudEyesHttpPost">
    <wsdl:operation name="root">
      <wsdl:input message="tns:rootHttpPostIn" />
      <wsdl:output message="tns:rootHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Flash">
      <wsdl:input message="tns:FlashHttpPostIn" />
      <wsdl:output message="tns:FlashHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoHttpPostIn" />
      <wsdl:output message="tns:GetInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <wsdl:input message="tns:GetReportInfoHttpPostIn" />
      <wsdl:output message="tns:GetReportInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageHttpPostIn" />
      <wsdl:output message="tns:SendMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <wsdl:input message="tns:GetMessageHttpPostIn" />
      <wsdl:output message="tns:GetMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPicture">
      <wsdl:input message="tns:SendPictureHttpPostIn" />
      <wsdl:output message="tns:SendPictureHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <wsdl:input message="tns:GetPictureHttpPostIn" />
      <wsdl:output message="tns:GetPictureHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadInfo">
      <wsdl:input message="tns:UploadInfoHttpPostIn" />
      <wsdl:output message="tns:UploadInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DataAnalys">
      <wsdl:input message="tns:DataAnalysHttpPostIn" />
      <wsdl:output message="tns:DataAnalysHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudEyesSoap" type="tns:CloudEyesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="root">
      <soap:operation soapAction="http://tempuri.org/root" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Flash">
      <soap:operation soapAction="http://tempuri.org/Flash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <soap:operation soapAction="http://tempuri.org/GetReportInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPicture">
      <soap:operation soapAction="http://tempuri.org/SendPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap:operation soapAction="http://tempuri.org/GetPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInfo">
      <soap:operation soapAction="http://tempuri.org/UploadInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataAnalys">
      <soap:operation soapAction="http://tempuri.org/DataAnalys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudEyesSoap12" type="tns:CloudEyesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="root">
      <soap12:operation soapAction="http://tempuri.org/root" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Flash">
      <soap12:operation soapAction="http://tempuri.org/Flash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://tempuri.org/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <soap12:operation soapAction="http://tempuri.org/GetReportInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://tempuri.org/GetMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPicture">
      <soap12:operation soapAction="http://tempuri.org/SendPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <soap12:operation soapAction="http://tempuri.org/GetPicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInfo">
      <soap12:operation soapAction="http://tempuri.org/UploadInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataAnalys">
      <soap12:operation soapAction="http://tempuri.org/DataAnalys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudEyesHttpGet" type="tns:CloudEyesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="root">
      <http:operation location="/root" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Flash">
      <http:operation location="/Flash" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <http:operation location="/GetInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <http:operation location="/GetReportInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <http:operation location="/GetMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPicture">
      <http:operation location="/SendPicture" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <http:operation location="/GetPicture" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UploadInfo">
      <http:operation location="/UploadInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataAnalys">
      <http:operation location="/DataAnalys" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudEyesHttpPost" type="tns:CloudEyesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="root">
      <http:operation location="/root" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Flash">
      <http:operation location="/Flash" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <http:operation location="/GetInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInfo">
      <http:operation location="/GetReportInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <http:operation location="/SendMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessage">
      <http:operation location="/GetMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPicture">
      <http:operation location="/SendPicture" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPicture">
      <http:operation location="/GetPicture" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UploadInfo">
      <http:operation location="/UploadInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DataAnalys">
      <http:operation location="/DataAnalys" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudEyes">
    <wsdl:port name="CloudEyesSoap" binding="tns:CloudEyesSoap">
      <soap:address location="http://125.46.31.205:3001/CloudEyes.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudEyesSoap12" binding="tns:CloudEyesSoap12">
      <soap12:address location="http://125.46.31.205:3001/CloudEyes.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudEyesHttpGet" binding="tns:CloudEyesHttpGet">
      <http:address location="http://125.46.31.205:3001/CloudEyes.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudEyesHttpPost" binding="tns:CloudEyesHttpPost">
      <http:address location="http://125.46.31.205:3001/CloudEyes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>